MEDIA_DIR=/Users/yourusername/Media
CONFIG_DIR=/Users/yourusername/config

SERVER_COUNTRIES=France,Netherlands,Germany,Belgium,Albania,Algeria,Angola,Argentina,Australia,Austria,Azerbaijan

PUID=501
PGID=20

TIMEZONE=Europe/Berlin

SEERR_BIND_ADDRESS=127.0.0.1

WIREGUARD_PRIVATE_KEY=your-private-key