MEDIA_DIR=/Users/yourusername/Media
CONFIG_DIR=/Users/yourusername/config

PUID=501
PGID=20

TIMEZONE=Europe/Berlin

SEERR_BIND_ADDRESS=127.0.0.1

WIREGUARD_PRIVATE_KEY=your-private-key
WIREGUARD_ADDRESS=your-address
